/* Для страницы управления — полноэкранный режим */
.control-page {
    height: 100vh;
}
.control-container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "header" 
        "main" ;
}
.control-header {
    grid-area: header;
}
.control-main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    overflow: auto;
}