/* Для страницы управления — полноэкранный режим */
.control-page {
    height: 100vh;
}
.control-container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "header" 
        "main" ;
}
.control-header {
    grid-area: header;
    display: flex;
    z-index: 100;
    position: sticky;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 100%;
}
.control-main {
    grid-area: main;
    padding: var(--spacing-md);
    margin-top: var(--header-height);
    display: flex;
    flex-direction: column;
    overflow: auto;
}